h1 {
	color: #FFDD00;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #FF1111;
	font-family: Arial, Helvetica, sans-serif;
}
form {
   display: inline-block;
   text-align: center;
   position: relative;
}
.hov {
	background-color: #000000 !important;
}

.res {
	background-color: #FFFFFF !important;
}
.settings {
	margin: auto;
	text-align: center;
}
.container {
	background-color: white;
	line-height: 0;
	text-align: center;
	margin: auto;
	width: 500px;
	height: 500px;
}
.unit {
	float: left;
	opacity: 0;
}
